{% extends "base.html" %}

{% block page_title %}
  Favourite list
{% endblock page_title %}

{% block content %}

<div class="container mx-auto pb-10">
  <div class="flex justify-center pt-10 pb-5">
    <h2 class="text-xl font-semibold">My Favourite Movies</h2>
  </div>
  <div class="flex flex-wrap justify-center items-center">
  {% for movie in user.favlist.movies.all%}
    {% include 'mixins/movie.html' with movie=movie %}
  {% endfor %}
  </div>
  <hr />
</div>



<div class="container mx-auto">
  <div class="flex justify-center pt-5 pb-3">
    <h2 class="text-xl font-semibold">My Favourite Books</h2>
  </div>
  <div class="flex flex-wrap justify-center items-center">
  {% for book in user.favlist.books.all%}
    {% include 'mixins/book.html' with book=book %}
  {% endfor %}
  </div>
</div>

{% endblock content %}