{% extends "base.html" %}

{% block page_title %}
  Search
{% endblock page_title %}


{% block content %}

<div class="bg-white px-8 pt-6 pb-8 mb-4">

<form class="flex justify-center mb-2" method="GET"> 
  <input name="term" class="border border-gray-500 rounded-sm w-1/2 mr-4 mt-2 py-3 px-4 focus:outline-none focus:border-orange-500" type="text" placeholder="Search Movie, Book or Person" />
  <button class="bg-orange-500 hover:shadow-lg focus:outline-none text-white font-semi rounded mt-2 py-3 px-4">Search</button>
</form>


<h3 class="block text-gray-700 text-center text-sm font-bold mb-5 mt-10">
  {% if term %}
    Searching by: {{term}}
  {% else %}
  ↓ Choose categories ↓
  {% endif %}
</h3>
{% if not term %}
  <div class="inline-block relative w-full flex flex-wrap justify-center mb-10">
    {% for category in categories %}
      <div class="border border-gray-500 text-gray-500 text-sm rounded-lg px-3 py-2 my-1 mx-2 hover:shadow-lg hover:font-bold">
      <a href="{% url 'categories:category' category.pk %}">{{category.name}}</a>
      </div>
    {% endfor %}
  </div>
{% endif %}
<hr />
{% if term %}
<div class="mt-10">
    <h3 class="block text-gray-700 text-lg font-bold mb-10 mt-10">
      {% if not movies %}
        No Movies Found
      {% else %}
        Movies:
      {% endif %}
    </h3>
    <div class="grid my-5 grid-cols-4 gap-10">
      {% for movie in movies %}
        {% include "mixins/movie.html" with movie=movie %}
      {% endfor %}
      </div>
    <hr />
</div>
<div class="mt-10">
    <h3 class="block text-gray-700 text-lg font-bold mb-10 mt-10">
      {% if not books %}
        No Books Found
      {% else %}
        Books
      {% endif %}
    </h3>
    <div class="grid my-5 grid-cols-4 gap-10">
    {% for book in books %}
      {% include "mixins/book.html" with book=book %}
    {% endfor %}
    </div>
    <hr />
</div>
<div class="mt-10">
    <h3 class="block text-gray-700 text-lg font-bold mb-10 mt-10">
      {% if not people %}
        No People Found
      {% else %}
        People
      {% endif %}
    </h3>
    <hr />
     <div class="grid my-5 grid-cols-4 gap-10">
      {% for person in people %}
        {% include "mixins/person.html" with person=person %}
      {% endfor %}
      </div>
</div>
{% endif %}
</div>

{% endblock content %}